* {
  margin: 0px;
  padding: 0px;
  color: white;
}
/* Navbar Starts Here */
.navbar ul {
  padding: 20px;
  font-size: 39px;
  overflow: hidden;
  background: linear-gradient(to right, #434343, #000000);
  height: 5vh;
  position: fixed;
}
.navbar ul li {
  display: inline;
  margin: 10px;
}
.navbar ul li a {
  padding: 36px 20px;
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  background-color: black;
}

/* Navbar ends here */

/* Introduction starts here */
.introduction {
  background: linear-gradient(to right, #434343, #000000);
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  margin-top: 50px;
  text-align: left;
}
.typing {
  position: relative;
  margin-left: 10px;
  animation: blink 0.5s infinite ease;
}
.typing::after {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}
.title {
  margin: auto;
  margin-top: 16vh;

  font-size: 53px;
}
/* Introduction ends here  */

/* About Section starts here  */
.about {
  display: flex;
  flex-direction: column;
  background-color: #434343;
  height: 100vh;
}
.box h1 {
  text-align: center;
  font-size: 9vh;
}
.box {
  /* font-size: 40px; */
  width: 90%;
  height: 91vh;
  margin: auto;
  margin-top: 7vh;
  box-shadow: 0 5px 15px white;
}
